/* Footer.css */

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 1em;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}
