/* Navbar.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    border-bottom-left-radius: 0.1cm;
    border-bottom-right-radius: 0.11cm;
    box-sizing: border-box; /* Include padding and borders in the element's total width/height */
    height: 60px; /* Set a fixed height */
    overflow-x: auto;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    nav {
        height: 50px; /* Adjust height for mobile devices */
        padding: 10px; /* Add some padding to the navbar */
    }

    nav a {
        font-size: 14px; /* Ensure text scales down for mobile */
    }
}

.navbar-left {
    display: flex;
    align-items: center; /* Center items vertically */
}

.menu-toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-weight: bold;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}
.navbar-logo {
    height: 80px; /* Adjust the height as needed */
    width: 80px; /* Maintain the aspect ratio */
    margin :0;
    padding : 0; /* Adjust the margin as needed */
}