/* SideMenu.css */
.side-menu {
    width: 200px;
    position: fixed;
    left: -200px; /* Hide the side menu initially */
    top: 13%;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 80px; /* Add top padding to account for the fixed navbar */
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensure it is below the navbar */
    transition: left 0.3s ease; /* Smooth transition */
}

.side-menu.visible {
    left: 0;
    z-index: 1000; /* Show the side menu */
}

.side-menu a {
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.side-menu a:hover {
    background-color: #ddd;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
}
